iot_ros/node_red/GUI_Control.txt
[{"id":"afca12af67e9d1c0","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"61e6d4c4.e7619c","type":"ui_group","name":"Toggle speed +,-","tab":"d680797a.2f8b88","order":1,"disp":true,"width":6,"collapse":true,"className":""},{"id":"2dcca15f57e1af0b","type":"ui_group","name":"Text","tab":"d680797a.2f8b88","order":1,"disp":true,"width":"6","collapse":true,"className":""},{"id":"d680797a.2f8b88","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"10b2289f.dc91d7","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ecd2c839.d04bc","type":"mqtt-broker","name":"","broker":"192.168.1.4","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"6aa13f5b.46f86","type":"ui_spacer","z":"afca12af67e9d1c0","name":"spacer","group":"61e6d4c4.e7619c","order":1,"width":6,"height":1},{"id":"d9d1024b.1ab31","type":"ui_spacer","z":"afca12af67e9d1c0","name":"spacer","group":"61e6d4c4.e7619c","order":2,"width":2,"height":1},{"id":"7404ad8f.758d74","type":"ui_spacer","z":"afca12af67e9d1c0","name":"spacer","group":"61e6d4c4.e7619c","order":4,"width":2,"height":1},{"id":"1db6ab61.a8edf5","type":"ui_spacer","z":"afca12af67e9d1c0","name":"spacer","group":"61e6d4c4.e7619c","order":6,"width":2,"height":1},{"id":"6d05700a.017f","type":"ui_spacer","z":"afca12af67e9d1c0","name":"spacer","group":"61e6d4c4.e7619c","order":8,"width":2,"height":1},{"id":"b3bdd786.68ab78","type":"ui_spacer","z":"afca12af67e9d1c0","name":"spacer","group":"61e6d4c4.e7619c","order":10,"width":2,"height":1},{"id":"6c01fb66.066534","type":"ui_spacer","z":"afca12af67e9d1c0","name":"spacer","group":"61e6d4c4.e7619c","order":11,"width":6,"height":1},{"id":"a8f772ee.ed6c2","type":"ui_spacer","z":"afca12af67e9d1c0","name":"spacer","group":"61e6d4c4.e7619c","order":12,"width":6,"height":1},{"id":"7be6317e.a5cf1","type":"ui_spacer","z":"afca12af67e9d1c0","name":"spacer","group":"61e6d4c4.e7619c","order":13,"width":6,"height":1},{"id":"aadf86f3.f27a58","type":"ui_spacer","z":"afca12af67e9d1c0","name":"spacer","group":"61e6d4c4.e7619c","order":18,"width":4,"height":1},{"id":"7785974e.010b48","type":"ui_spacer","z":"afca12af67e9d1c0","name":"spacer","group":"61e6d4c4.e7619c","order":19,"width":6,"height":1},{"id":"a8182aea.dc9398","type":"ui_spacer","z":"afca12af67e9d1c0","name":"spacer","group":"61e6d4c4.e7619c","order":21,"width":4,"height":1},{"id":"715af784d62eb0a4","type":"inject","z":"afca12af67e9d1c0","name":"Setup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":250,"y":140,"wires":[["eac5d9eb.958798","2d5e5efc0e7a9269"]]},{"id":"242a6ec9bd964814","type":"inject","z":"afca12af67e9d1c0","name":"Setup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":250,"y":360,"wires":[["d10184c9da1e3ad4","a39c88cf9d22933d"]]},{"id":"085c5076dca9176f","type":"debug","z":"afca12af67e9d1c0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":140,"wires":[]},{"id":"e431f2f203715669","type":"debug","z":"afca12af67e9d1c0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":860,"wires":[]},{"id":"a9c2dec02aa240a0","type":"ui_text","z":"afca12af67e9d1c0","group":"2dcca15f57e1af0b","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","className":"","x":740,"y":180,"wires":[]},{"id":"f60256a92dbab691","type":"ui_text","z":"afca12af67e9d1c0","group":"2dcca15f57e1af0b","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","className":"","x":740,"y":400,"wires":[]},{"id":"eac5d9eb.958798","type":"ui_template","z":"afca12af67e9d1c0","group":"61e6d4c4.e7619c","name":"UP","order":3,"width":2,"height":1,"format":"<div id=\"momentary\">\n   <md-button style=\"min-width:36px;\n                    width: 100%; \n                    height: 100%; \n                    margin:0; \n                    padding: 0px; \n                    border-radius: 5%;\n                    background-color:blue\">\n       \n    <i class=\"fa fa-arrow-up\"></i>\n   </md-button>\n</div>\n<script>\n(function($scope) {\n    \n$('#momentary').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"momentary\",\"payload\": 1});\n});\n\n$('#momentary').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"momentary\",\"payload\": 0});\n});\n    \n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":520,"y":140,"wires":[["a9c2dec02aa240a0"]]},{"id":"d10184c9da1e3ad4","type":"ui_template","z":"afca12af67e9d1c0","group":"61e6d4c4.e7619c","name":"LEFT","order":5,"width":2,"height":1,"format":"<div id=\"momentary2\">\n   <md-button style=\"width:36px;\n                    width: 100%; \n                    height: 100%; \n                    padding: 0px;\n                    border-radius: 5%;\n                    background-color:green\">\n       \n      <i class=\"fa fa-arrow-left\"></i>\n   </md-button>\n</div>\n<script>\n(function($scope) {\n    \n$('#momentary2').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"momentary2\",\"payload\": -1});\n});\n\n$('#momentary2').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"momentary2\",\"payload\": 0});\n});\n    \n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":510,"y":320,"wires":[["f60256a92dbab691"]]},{"id":"a39c88cf9d22933d","type":"ui_template","z":"afca12af67e9d1c0","group":"61e6d4c4.e7619c","name":"RIGHT","order":7,"width":2,"height":1,"format":"<div id=\"momentary4\">\n   <md-button style=\"width:36px;\n                    width: 100%; \n                    height: 100%; \n                    padding: 0px;\n                    border-radius: 5%;\n                    background-color:green\">\n       \n      <i class=\"fa fa-arrow-right\"></i>\n   </md-button>\n</div>\n<script>\n(function($scope) {\n    \n$('#momentary4').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"momentary2\",\"payload\": 1});\n});\n\n$('#momentary4').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"momentary2\",\"payload\": 0});\n});\n    \n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":480,"y":480,"wires":[["f60256a92dbab691"]]},{"id":"2d5e5efc0e7a9269","type":"ui_template","z":"afca12af67e9d1c0","group":"61e6d4c4.e7619c","name":"DOWN","order":9,"width":2,"height":1,"format":"<div id=\"momentary3\">\n   <md-button style=\"min-width:36px;\n                    width: 100%; \n                    height: 100%; \n                    margin:0; \n                    padding: 0px; \n                    border-radius: 5%;\n                    background-color:blue\">\n       \n    <i class=\"fa fa-arrow-down\"></i>\n   </md-button>\n</div>\n<script>\n(function($scope) {\n    \n$('#momentary3').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"momentary\",\"payload\": -1});\n});\n\n$('#momentary3').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"momentary\",\"payload\": 0});\n});\n    \n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":520,"y":220,"wires":[["a9c2dec02aa240a0"]]},{"id":"275dc1ab.75834e","type":"inject","z":"afca12af67e9d1c0","name":"Setup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":250,"y":720,"wires":[["2d3d666c.29b942"]]},{"id":"2d3d666c.29b942","type":"ui_template","z":"afca12af67e9d1c0","group":"61e6d4c4.e7619c","name":"Save Pose","order":17,"width":2,"height":1,"format":"<div id=\"momentary5\">\n   <md-button style=\"width:36px;\n                    width: 100%; \n                    height: 100%; \n                    padding: 0px;\n                    border-radius: 5%;\n                    background-color:green\">\n       \n      <i class=\"fa fa-arrow-left\"></i>\n   </md-button>\n</div>\n<script>\n(function($scope) {\n    \n$('#momentary5').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"momentary5\",\"payload\": 1});\n});\n\n$('#momentary5').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"momentary5\",\"payload\": 0});\n});\n    \n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":490,"y":720,"wires":[["6566650d.ba1704","e431f2f203715669"]]},{"id":"bacc2f08.cdfe08","type":"ui_numeric","z":"afca12af67e9d1c0","name":"","label":"numeric","tooltip":"","group":"61e6d4c4.e7619c","order":16,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"1","max":"31","step":1,"className":"","x":440,"y":860,"wires":[["2b35be01.d11f92"]]},{"id":"7b852592.5186ec","type":"inject","z":"afca12af67e9d1c0","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":240,"y":860,"wires":[["bacc2f08.cdfe08"]]},{"id":"6566650d.ba1704","type":"mqtt out","z":"afca12af67e9d1c0","name":"","topic":"PoseSaverTrig","qos":"","retain":"","broker":"ecd2c839.d04bc","x":680,"y":720,"wires":[]},{"id":"2b35be01.d11f92","type":"mqtt out","z":"afca12af67e9d1c0","name":"","topic":"PoseSaverPoint","qos":"","retain":"","broker":"ecd2c839.d04bc","x":680,"y":920,"wires":[]},{"id":"e72d231d.1f2f68","type":"ui_template","z":"afca12af67e9d1c0","group":"61e6d4c4.e7619c","name":"Reset Pose","order":20,"width":2,"height":1,"format":"<div id=\"momentary6\">\n   <md-button style=\"width:36px;\n                    width: 100%; \n                    height: 100%; \n                    padding: 0px;\n                    border-radius: 5%;\n                    background-color:green\">\n       \n      <i class=\"fa fa-arrow-left\"></i>\n   </md-button>\n</div>\n<script>\n(function($scope) {\n    \n$('#momentary6').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"momentary6\",\"payload\": 1});\n});\n\n$('#momentary6').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"topic\":\"momentary6\",\"payload\": 0});\n});\n    \n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":490,"y":1040,"wires":[["a77360aa.1c9e88"]]},{"id":"9ba779cb.3e9028","type":"inject","z":"afca12af67e9d1c0","name":"Setup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":250,"y":1040,"wires":[["e72d231d.1f2f68"]]},{"id":"a77360aa.1c9e88","type":"mqtt out","z":"afca12af67e9d1c0","name":"","topic":"PoseResetTrig","qos":"","retain":"","broker":"ecd2c839.d04bc","x":680,"y":1040,"wires":[]},{"id":"f0cae75d.923698","type":"inject","z":"afca12af67e9d1c0","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":230,"y":1220,"wires":[["e6cfb1e6.c8287"]]},{"id":"3609ae56.eb4fe2","type":"mqtt out","z":"afca12af67e9d1c0","name":"","topic":"PoseSaverSw","qos":"","retain":"","broker":"ecd2c839.d04bc","x":640,"y":1220,"wires":[]},{"id":"e6cfb1e6.c8287","type":"ui_switch","z":"afca12af67e9d1c0","name":"","label":"PoseSaverSw","tooltip":"","group":"61e6d4c4.e7619c","order":14,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":420,"y":1220,"wires":[["3609ae56.eb4fe2"]]},{"id":"d10861a9.29f38","type":"ui_text","z":"afca12af67e9d1c0","group":"61e6d4c4.e7619c","order":15,"width":0,"height":0,"name":"","label":"PoseSaverState","format":"{{msg.payload}}","layout":"row-spread","className":"","x":660,"y":1320,"wires":[]},{"id":"1bb2b762.8b5079","type":"mqtt in","z":"afca12af67e9d1c0","name":"","topic":"PoseSaverState","qos":"2","datatype":"auto","broker":"ecd2c839.d04bc","x":460,"y":1320,"wires":[["d10861a9.29f38"]]}]
